@model CourseViewModel

<section class="courses w-full d-flex center">
    <div class="container w-max d-flex column">
        <div class="heading-box">
            <h1>Courses</h1>
            <div class="input-box">
                <form id="category-filter" action="">
                    <select list="categories" placeholder="All categories">
                        <option>All categories</option>
                        <option>Chrome</option>
                        <option>Edge</option>
                        <option>Firefox</option>
                        <option>Opera</option>                        
                        <option>Safari</option>
                    </select>
                </form>
                <form id="search" action="">
                    <input type="text" placeholder="Search Courses">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
        </div>
        <div class="grid-box">
            @if (Model.Courses != null)
            {
                foreach (var course in Model.Courses)
                {
                    <div class="grid-item">
                        <a asp-action="Index" asp-controller="Course" asp-route-id="@course.Id" class="content">
                            <img src="~/img/courses/@course.ImageUrl" alt="Image for @course.Title">
                            <div class="text-box">
                                <p class="h5">@course.Title</p>
                                <p class="text-s">By @course.Author</p>
                                @if (course.DiscountPrice >= 0)
                                {
                                    <p><span class="text-l price sale-new">$@Math.Round(course.DiscountPrice, 2)</span> <span class="text-l price sale-old">$@Math.Round(course.Price, 2)</span></p>
                                }
                                else
                                {
                                    <p class="text-l price">$@Math.Round(course.Price, 2)</p>
                                }
                                <div class="info-box">
                                    <p class="text-s hours">@course.Hours hours</p>
                                    <p class="text-s rating">@course.LikesInPercent()% (@course.TotalBuysInK()K)</p>
                                </div>
                            </div>
                        </a>
                        @if (course.BestSeller)
                        {
                            <div class="text-s tag">Best Seller</div>
                        }
                        <button class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </button>
                    </div>
                }
            }
        </div>
        <div class="pagination-box">

        </div>
    </div>
</section>